<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table  *ngIf="dataLoaded==true" class="table table-hover table-borderless">
    <thead>
       <tr>
         <th>Id </th>
         <th>Ürün Adı</th>
         <th>Kategori</th>
         <th>Fiyat</th>
         <th>Kvdvli Fiyat</th>
         <th>Stok Adedi</th>
       </tr>
    </thead>
    <tr *ngFor="let product of products">
      <td>{{product.productId}}</td>
      <td>{{product.productName | uppercase}}</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.unitPrice | currency}}</td>
      <td>{{product.unitPrice | vatAdded:10 | currency}}</td>
      <td>{{product.unitsInStock}}</td>
    </tr>

</table>
